$contrastColor: rgb(88, 88, 88);
$contrastColorTrans: #888c;
$mainColor: #dcdcdc;
$mainColorTrans: #dcdcdc33;

$navHeight: 50px;


body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

#top {
  text-align: center;
  margin: 0.5rem auto 0;

  a, a:link, a:visited, a:hover, a:active{
    font-size: 1.25rem;
    display: block;
    padding: 3px;
    border: 0px solid $mainColor;
    border-radius: 5px;
    color:$contrastColor;
    transition: background-color 0.5s ease, color 0.5s ease ;
  }
  a:hover{
    background-color: $contrastColorTrans;
    color: $mainColor;
  }
}
// Dropdown Styling
// https://www.sliderrevolution.com/resources/css-select-styles/
// Designed by: Veiko
select {

  /* styling */
  background-color: white;
  color: $contrastColor;
  border: thin solid $contrastColor;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* Triangle */
  background-image:
    linear-gradient(45deg, transparent 50%, $contrastColor 50%),
    linear-gradient(135deg, $contrastColor 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  color: $contrastColor;
}
select:focus {
  background-image:
    linear-gradient(45deg, $contrastColor 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, $contrastColor 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: $contrastColor;
  outline: 0;
}



/* Area that displays messages */
#chat {
  padding-top: 0.2rem;
  background-color: $mainColor;
  width: 90%;
  height: 70%;
  margin: 2rem auto;
  overflow-y: auto;
  border: 2px solid $mainColor;
}

#title-message {
  margin: 0rem 0.5rem;
  padding: 0rem 0.2rem;
  margin-top: 0;
  margin-bottom: 2px;
  padding-top: 0.1rem;
  padding-left: 0.5rem;
  border: 2px solid $mainColor;
  border-radius: 5px;
  background-color: $contrastColor;
  color: $mainColor;
}

/* Contains the user-name and user-message */
.chat-message {
  margin: 0rem 0.5rem;
  padding: 0rem 0.2rem;
  display: grid;
  grid-template-columns: 1fr 8fr;
}

/* Display the user's name next to their message */
.user-name {
  margin-top: 0;
  margin-bottom: 2px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-top-right-radius: 0px;
  text-align: left;
  padding: 0.1rem;
  padding-left: 0.25rem;
}

.user-black {
  color: black;
  border-color: black;
  background-color: darkgrey;
}

.user-blue {
  color: blue;
  border-color: blue;
  background-color: cornflowerblue;
}

.user-red {
  color: darkred;
  border-color: red;
  background-color: salmon;
}

.user-purple {
  color: rgb(88, 1, 88);
  border-color: purple;
  background-color: violet;
}

/* Display the user's message by their name */
.user-message {
  margin-top: 0;
  margin-bottom: 2px;
  padding-top: 0.1rem;
  padding-left: 0.5rem;
  border-style: solid;
  border-width: 2px;
  border-left-style: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
  color: black;
}

.message-black {
  border-color: black;
}

.message-blue {
  border-color: blue;
}

.message-red {
  border-color: red;
}

.message-purple {
  border-color: purple;
}

/* Area to send messages */

#chatbox,
#top {
  background-color: $mainColor;
  border: 2px solid $contrastColor;
  border-radius: 5px;
  width: fit-content;
  min-width: 250px;
  padding: 0.5rem;
}

#chatbox {
  margin: 0 auto;
  text-align: center;

  h3 {
    margin: 0.5rem 0;
  }
}

#messageField {
  margin-left: -4px;
  text-align: left;
}

#messageField:focus {
  outline: none;
}

#messageField:focus-visible {
  outline: 2px;
}

//
// Account Styling
//

nav {
  width: 100%;
  height: $navHeight;
  background-color: $contrastColor;
  padding: 0.2rem 2rem;
}

.navlink{
  color:$mainColor;
  font-size: 1.5rem;
  float: left;
  margin: 0 0.5rem;
  height: 100%;

  a, a:link, a:visited, a:hover, a:active{
    line-height: calc($navHeight - 3px);
    padding: 3px;
    border: 0px solid $mainColor;
    border-radius: 5px;
    color:$mainColor;
    text-decoration: none;
    transition: background-color 0.5s ease;
  }
  a:hover{
    background-color: $mainColorTrans;
  }
}


.mainForm{
  width: fit-content;
  margin: 3rem auto;
  padding: 1rem;
  text-align: center;
  background-color: $mainColor;
  color: $contrastColor;

  div{
    margin: 0 auto;
    text-align: center;
    margin: 5px 0;
  }
  label{
    display: inline-block;
    width: fit-content;
    margin-right: 10px;
    text-align: right;
  }
  .formSubmit{
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;

    background-color: $contrastColor;
    border-color: $contrastColorTrans;
    color: $mainColor;

    border-radius: 5px;
    border-bottom-left-radius: 0px;
    padding: 3px 0px;
    
    text-decoration: none;
  }

  .formSubmit:hover{
    background-color: $contrastColorTrans;
    color: $mainColor;
  }
}
#user, #pass, #pass2, #oldpass {
  text-align: center;
  font-size: 1.1em;
  width: 180px;
  border-radius: 6px;
}
input{
  text-align: center;
}