<!DOCTYPE html>
<html lang="en">

<head>
  <title>Simple chat app</title>
  <link rel="stylesheet" type="text/css" href="/assets/main.css">
  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets/appBundle.js"></script>
</head>

<body>
  <section id="top">
    <div><a href="/logout">Logout</a></div>
    <div><a href="/settings">Settings</a></div>
    <div id="roomSelect">
      <form id="roomForm">
        <select name="channel" id="channelSelect">
          <option value="general">General</option>
          <option value="memes">Memes</option>
        </select>
      </form>
    </div>
  </section>
  {{!-- Error Messages --}}
  <div id="error" hidden></div>
  <!-- Display the chat -->
  <section id="chat">
    <p id="title-message">NON-PICTORIAL CHAT: {{chatRoom}}</p>
  </section>
  <!-- Send messages -->
  <section id="chatbox">
    <h3>Send Message</h3>
    <form id="messageForm" action="/sendMessage" method="post">
      <label id="messageLabel" for="message" class="user-name user-{{color}}">{{userName}}: </label>
      <input id="messageField" type="text" name="message" class="user-message message-{{color}}" />
      <input type="submit" value="Send" />
    </form>
  </section>
</body>

</html>