body {
  height: 90vh;
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

#top {
  text-align: center;
  margin: 0.5rem auto 0;
}
#top a, #top a:link, #top a:visited, #top a:hover, #top a:active {
  font-size: 1.25rem;
  display: block;
  padding: 3px;
  border: 0px solid #dcdcdc;
  border-radius: 5px;
  color: rgb(88, 88, 88);
  transition: background-color 0.5s ease, color 0.5s ease;
}
#top a:hover {
  background-color: rgba(136, 136, 136, 0.8);
  color: #dcdcdc;
}

select {
  /* styling */
  background-color: white;
  color: rgb(88, 88, 88);
  border: thin solid rgb(88, 88, 88);
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  /* reset */
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Triangle */
  background-image: linear-gradient(45deg, transparent 50%, rgb(88, 88, 88) 50%), linear-gradient(135deg, rgb(88, 88, 88) 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  color: rgb(88, 88, 88);
}

select:focus {
  background-image: linear-gradient(45deg, rgb(88, 88, 88) 50%, transparent 50%), linear-gradient(135deg, transparent 50%, rgb(88, 88, 88) 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  border-color: rgb(88, 88, 88);
  outline: 0;
}

/* Area that displays messages */
#chat {
  padding-top: 0.2rem;
  background-color: #dcdcdc;
  width: 90%;
  height: 70%;
  margin: 2rem auto;
  overflow-y: auto;
  border: 2px solid #dcdcdc;
}

#title-message {
  margin: 0rem 0.5rem;
  padding: 0rem 0.2rem;
  margin-top: 0;
  margin-bottom: 2px;
  padding-top: 0.1rem;
  padding-left: 0.5rem;
  border: 2px solid #dcdcdc;
  border-radius: 5px;
  background-color: rgb(88, 88, 88);
  color: #dcdcdc;
}

/* Contains the user-name and user-message */
.chat-message {
  margin: 0rem 0.5rem;
  padding: 0rem 0.2rem;
  display: grid;
  grid-template-columns: 1fr 8fr;
}

/* Display the user's name next to their message */
.user-name {
  margin-top: 0;
  margin-bottom: 2px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-top-right-radius: 0px;
  text-align: left;
  padding: 0.1rem;
  padding-left: 0.25rem;
}

.user-black {
  color: black;
  border-color: black;
  background-color: darkgrey;
}

.user-blue {
  color: blue;
  border-color: blue;
  background-color: cornflowerblue;
}

.user-red {
  color: darkred;
  border-color: red;
  background-color: salmon;
}

.user-purple {
  color: rgb(88, 1, 88);
  border-color: purple;
  background-color: violet;
}

/* Display the user's message by their name */
.user-message {
  margin-top: 0;
  margin-bottom: 2px;
  padding-top: 0.1rem;
  padding-left: 0.5rem;
  border-style: solid;
  border-width: 2px;
  border-left-style: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
  color: black;
}

.message-black {
  border-color: black;
}

.message-blue {
  border-color: blue;
}

.message-red {
  border-color: red;
}

.message-purple {
  border-color: purple;
}

/* Area to send messages */
#chatbox,
#top {
  background-color: #dcdcdc;
  border: 2px solid rgb(88, 88, 88);
  border-radius: 5px;
  width: fit-content;
  min-width: 250px;
  padding: 0.5rem;
}

#chatbox {
  margin: 0 auto;
  text-align: center;
}
#chatbox h3 {
  margin: 0.5rem 0;
}

#messageField {
  margin-left: -4px;
  text-align: left;
}

#messageField:focus {
  outline: none;
}

#messageField:focus-visible {
  outline: 2px;
}

nav {
  width: 100%;
  height: 50px;
  background-color: rgb(88, 88, 88);
  padding: 0.2rem 2rem;
}

.navlink {
  color: #dcdcdc;
  font-size: 1.5rem;
  float: left;
  margin: 0 0.5rem;
  height: 100%;
}
.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
  line-height: 47px;
  padding: 3px;
  border: 0px solid #dcdcdc;
  border-radius: 5px;
  color: #dcdcdc;
  text-decoration: none;
  transition: background-color 0.5s ease;
}
.navlink a:hover {
  background-color: rgba(220, 220, 220, 0.2);
}

.mainForm {
  width: fit-content;
  margin: 3rem auto;
  padding: 1rem;
  text-align: center;
  background-color: #dcdcdc;
  color: rgb(88, 88, 88);
}
.mainForm div {
  margin: 0 auto;
  text-align: center;
  margin: 5px 0;
}
.mainForm label {
  display: inline-block;
  width: fit-content;
  margin-right: 10px;
  text-align: right;
}
.mainForm .formSubmit {
  transition: background-color 0.4s ease;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 14px;
  font-size: 1.2em;
  width: 100px;
  background-color: rgb(88, 88, 88);
  border-color: rgba(136, 136, 136, 0.8);
  color: #dcdcdc;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  padding: 3px 0px;
  text-decoration: none;
}
.mainForm .formSubmit:hover {
  background-color: rgba(136, 136, 136, 0.8);
  color: #dcdcdc;
}

#user, #pass, #pass2, #oldpass {
  text-align: center;
  font-size: 1.1em;
  width: 180px;
  border-radius: 6px;
}

input {
  text-align: center;
}

#changeVIPForm, #changeColorForm {
  width: 175px;
  height: 100px;
}

#changeVIPForm {
  height: 75px;
}

#error {
  position: absolute;
  right: 25px;
  width: 200px;
  bottom: 25px;
  height: 200px;
  color: #dcdcdc;
  background-color: rgb(88, 88, 88);
  border: 2px solid #dcdcdc;
  padding: 0.5rem;
  font-size: larger;
}